<h1>User info</h1>

<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
<h2><%= @user.errors.count %>errors prohibited this obj from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<label>Name</label>
	<%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail" %>
</div>

<div>
	<label>ProfileImage</label>
	<%= f.attachment_field :profile_image, class: "user-edit-form" %>
</div>

<div>
	<label>Introduction</label>
	<%= f.text_field :introduction, autofocus: true, class:"form-control", id:"inputEmail" %>

</div>
<%= f.submit "Update User"%>
<% end %>